.card-wrapper {
  .card-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    animation-duration: 1000ms;
    animation-name: card_item_anim;
    p{
      font-weight: 300;
    }
    h4{
      font-weight: 700;
    }
    img{
      height: 200px;
      width: 250px;
    }
  }
  @keyframes card_item_anim {
    0%   { opacity: 0; }
    100% { transition: all 0.4s ease-out; opacity: 1;  }
  }
}

.card-checkbox {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  input[type="checkbox"] { display: none; }

  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    cursor: pointer;
  }

  input[type="checkbox"] + label:last-child { margin-bottom: 0; }

  input[type="checkbox"] + label:before {
    content: '';
    display: block;
    border: 3px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: .6;
    transition: all .12s, border-color .08s;
  }
  
  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}

.disabled-todo{
  opacity: 0.4;
}

@media (max-width: 767px) {
  .card-wrapper{
    .card-item{
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}