.card_wrapper {
  .card_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    animation-duration: 1000ms;
    animation-name: card_item_anim;
    p{
      font-weight: 300;
    }
    h4{
      font-weight: 700;
    }
    img{
      height: 200px;
      width: 250px;
    }
  }
  @keyframes card_item_anim {
    0%   { opacity: 0; }
    100% { transition: all 0.4s ease-out; opacity: 1;  }
  }  
}

.disabled_todo{
  background-color: #ccc;
}

@media (max-width: 767px) {
  .card_wrapper{
    .card_item{
      img{
        height: auto;
        width: 100%;
      }
    }
  }
}