.add_todo_wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
	margin-bottom: 50px;
	flex-direction: column;
  align-items: center;
  .newPost{
    margin: 20px 0 50px 0;
    width: 500px;
  }
}

@media (max-width: 767px) {
  .add_todo_wrapper{
    .newPost{
      width: 100%;
    }
  }
}

